.header {
  /* display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px; */
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}
.header__menu {
  padding-right: 36px;
}
.header__links-list {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  display: flex;
  gap: 32px;
}
.header__links-list-item {
  list-style-type: circle;
}
.header__link {
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
}
.header__link-border {
  /* border-bottom: 1px solid; */
  text-underline-position: under;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 140px;
}
.header__logo-image {
  width: 100%;
}
.address {
  font-family: Raleway;
  font-style: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  max-width: 237px;
  width: 100%;
  justify-self: end;
}
.header__address {
  justify-self: end;
  font-style: inherit;
}
.info {
  white-space: no-wrap;
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.overlay {
  position: absolute;
  /* top: 0;
  left: 0; 
  z-index: 0;
  width: 100%;
  height: 100%; */
  inset: 0;
  opacity: 0.6;

  background-color: #000000;
}
.cover__title {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  display: grid;
  gap: 20px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
  position: relative;
}
.accent_span {
  display: block;
  letter-spacing: 0.3em;
}
.aligned-text {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
  line-height: 1;
}
.aligned-text_right {
  text-align: right;
  line-height: 1;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0em;
}
.cover__description {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
}
.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  padding-left: 24px;
}

.bet-button {
  border: 1px #fff solid;
  padding: 14px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  padding-top: 179px;
  padding-left: 24px;
  padding-right: 24px;
}
.lots__heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}
.lost__card-list-item {
  height: 100%;
}
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  height: 100%;
  padding: 50px 40px;

  /* width: 334px; */
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
}
.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2em;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  line-height: 1.2;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  margin-top: 181px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 24px;
}
.about__column {
  justify-self: center;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  gap: 0px;
  border-radius: 50%;
  background-color: #000000;
}
.about__logo-image {
  width: 147px;
  height: 120px;
}
.about__column_t {
  grid-column: 2/4;
}

.about__title {
  padding: 108px 0 102px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;

  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;

  border: 1px 0px 0px 0px;
}
/* .footer__menu-list {
  text-align: center;
  list-style: none;
} */
.footer__menu-list {
  text-align: center;
  list-style: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  text-underline-position: under;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
}
